/* Copyright 2024 New Vector Ltd.
* Copyright 2024 The Matrix.org Foundation C.I.C.
*
* SPDX-License-Identifier: AGPL-3.0-only
* Please see LICENSE in the repository root for full details.
 */

.list {
  display: flex;
  flex-direction: column;
  gap: var(--cpd-space-scale);
  border-radius: var(--cpd-space-5x);
  overflow: hidden;
}

.item {
  background: var(--cpd-color-bg-action-secondary-hovered);
  padding: var(--cpd-space-3x) var(--cpd-space-5x);
  display: flex;
  align-items: center;
  gap: var(--cpd-space-3x);
}

.item svg {
  inline-size: var(--cpd-space-6x);
  block-size: var(--cpd-space-6x);
  flex-shrink: 0;
}
