/* Copyright 2024 New Vector Ltd.
* Copyright 2023, 2024 The Matrix.org Foundation C.I.C.
*
* SPDX-License-Identifier: AGPL-3.0-only
* Please see LICENSE in the repository root for full details.
 */

.layout-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  max-width: calc(378px + var(--cpd-space-5x) * 2);

  /* Fallback for browsers that do not support 100svh */
  min-height: 100vh;
  min-height: 100svh;

  margin: 0 auto;
  padding-inline: var(--cpd-space-5x);
  padding-block: var(--cpd-space-12x);
  gap: var(--cpd-space-8x);

  &.consent {
    max-width: calc(460px + var(--cpd-space-5x) * 2);
  }

  &.wide {
    max-width: calc(520px + var(--cpd-space-5x) * 2);
  }
}

@media screen and (min-width: 768px) {
  .layout-container {
    padding-block-start: var(--cpd-space-20x);
    padding-block-end: var(--cpd-space-10x);
  }
}
