{#
Copyright 2025, 2026 Element Creations Ltd.
Copyright 2024, 2025 New Vector Ltd.
Copyright 2024 The Matrix.org Foundation C.I.C.

SPDX-License-Identifier: AGPL-3.0-only OR LicenseRef-Element-Commercial
Please see LICENSE files in the repository root for full details.
-#}

{# This is taken from the swagger-ui/dist/oauth2-redirect.html file #}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>API documentation: OAuth2 Redirect</title>
    {{ include_asset('src/entrypoints/swagger-oauth2-redirect.ts') | indent(4) | safe }}
  </head>
  <body></body>
</html>
