{#
Copyright 2025 New Vector Ltd.

SPDX-License-Identifier: AGPL-3.0-only
Please see LICENSE in the repository root for full details.
-#}

{% extends "base.html" %}

{% block content %}
  <header class="page-heading">
    <div class="icon">
      {{ icon.link() }}
    </div>

    <div class="header">
      <h1 class="title">{{ _("mas.upstream_oauth2.login_link.heading") }}</h1>
    </div>
  </header>
  <section class="flex flex-col gap-6 justify-center">
    {{ _("mas.upstream_oauth2.login_link.description", username=linked_user.username) }}
   
    <form method="POST" class="cpd-form-root">
      <input type="hidden" name="csrf" value="{{ csrf_token }}" />
      <input type="hidden" name="action" value="link" />

      {{ button.button(text=_("mas.upstream_oauth2.login_link.action")) }}
    </form>

  </section>
{% endblock content %}
