{#
Copyright 2024, 2025 New Vector Ltd.
Copyright 2021-2024 The Matrix.org Foundation C.I.C.

SPDX-License-Identifier: AGPL-3.0-only OR LicenseRef-Element-Commercial
Please see LICENSE files in the repository root for full details.
-#}

{% extends "base.html" %}

{% block content %}

{{ include_asset('src/external/View.tsx') | indent(4) | safe }}


  <header class="page-heading">
    <div class="icon">
      {{ icon.user_profile_solid() }}
    </div>

    <div class="header">
      <h1 class="title">{{ _("mas.register.create_account.heading") }}</h1>
    </div>
  </header>

  <form method="POST" class="cpd-form-root">
    {% for error in form.errors %}
      {# Special case for the captcha error, as we want to put it at the bottom #}
      {% if error.kind != "captcha" %}
        <div class="text-critical font-medium">
          {{ errors.form_error_message(error=error) }}
        </div>
      {% endif %}
    {% endfor %}

    <input type="hidden" name="csrf" value="{{ csrf_token }}" />

    <!-- :tchap: -->
    <div class="hidden">
      {% call(f) field.field(class="", label=_("common.username"), name="username", form_state=form) %}
      <input {{ field.attributes(f) }} class="cpd-text-control" type="text" autocomplete="username" autocorrect="off" autocapitalize="none" required readonly/>
      {% endcall %}
    </div>
    {% call(f) field.field(label=_("common.email_address"), name="email", form_state=form) %}
      <input {{ field.attributes(f) }} class="cpd-text-control" type="email" autocomplete="email" required />
    {% endcall %}    
    <!-- :tchap: end -->
    
    <noscript>
      <!-- use the static password fields if javascript is not available in browser -->
      {% call(f) field.field(label=_("common.password"), name="new_password", form_state=form) %}
        <input {{ field.attributes(f) }} class="cpd-text-control" type="password" autocomplete="new-password" required />
      {% endcall %}
      
      {% call(f) field.field(label=_("common.password_confirm"), name="new_password_again", form_state=form) %}
        <input {{ field.attributes(f) }} class="cpd-text-control" type="password" autocomplete="new-password" required />
      {% endcall %}
    </noscript>

    <div id="view" data-component="PasswordFormLoader" data-props='{"forceShowNewPasswordInvalid": false}'></div>
    
    <!-- <script type="module" src="/assets/View.js"></script> -->



    {{ button.button(text=_("action.continue")) }}

    {% set params = next["params"] | default({}) | to_params(prefix="?") %}
    {{ button.link_tertiary(text=_("mas.register.call_to_login"), href="/login" ~ params) }}
  </form>
{% endblock content %}
