/* Copyright 2024, 2025 New Vector Ltd.
 * Copyright 2023, 2024 The Matrix.org Foundation C.I.C.
 *
 * SPDX-License-Identifier: AGPL-3.0-only OR LicenseRef-Element-Commercial
 * Please see LICENSE files in the repository root for full details.
 */

.legal-footer {
  display: flex;
  flex-direction: column;
  gap: var(--cpd-space-2x);
  margin-block-start: auto;

  font: var(--cpd-font-body-sm-regular);
  letter-spacing: var(--cpd-font-letter-spacing-body-sm);

  & nav {
    display: flex;
    gap: var(--cpd-space-2x);
    align-items: center;
    justify-content: center;
    text-align: center;

    & .separator {
      color: var(--cpd-color-text-secondary);
    }
  }

  & .imprint {
    color: var(--cpd-color-text-secondary);
    text-align: center;
  }
}
