/* Copyright 2024 New Vector Ltd.
* Copyright 2023, 2024 The Matrix.org Foundation C.I.C.
*
* SPDX-License-Identifier: AGPL-3.0-only
* Please see LICENSE in the repository root for full details.
 */

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--cpd-space-2x);
  text-align: center;
}

.tagline {
  color: var(--cpd-color-text-secondary);

  & > span {
    color: var(--cpd-color-text-primary);
  }
}

.icon {
  height: var(--cpd-space-16x);
  width: var(--cpd-space-16x);
  color: var(--cpd-color-icon-secondary);
  background: var(--cpd-color-bg-subtle-secondary);
  padding: var(--cpd-space-2x);
  border-radius: var(--cpd-space-2x);
  margin-bottom: var(--cpd-space-2x);
}
