{#
Copyright 2024 New Vector Ltd.
Copyright 2021-2024 The Matrix.org Foundation C.I.C.

SPDX-License-Identifier: AGPL-3.0-only
Please see LICENSE in the repository root for full details.
-#}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Redirecting to client</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body onload="javascript:document.forms[0].submit()">
    <form method="post" action="{{ redirect_uri }}">
      {% for key, value in params|items %}
        <input type="hidden" name="{{ key }}" value="{{ value }}" />
      {% endfor %}
    </form>
  </body>
</html>
