<!-- add lasuite class to upper element because dsfr is applyied only to .lasuite childs -->
<footer class="lasuite fr-footer" role="contentinfo" id="footer-7127">
  <div class="fr-container lasuite-container">
    <div class="fr-footer__body">
      <div class="fr-footer__brand fr-enlarge-link">
        <a
          id="footer-operator"
          href="/"
          title="Retour à l&#x27;accueil - ~~replace~~"
        >
          <p class="fr-logo">République<br>Française</p>
        </a>
      </div>
      <div class="fr-footer__content">
        <p class="fr-footer__content-desc">
          Le code de Tchap est consultable publiquement et se base sur le
          protocole Matrix. Le développement de l'application bénéficie ainsi
          des avancées de la communauté Matrix, en terme d'amélioration
          fonctionnelle et de sécurité.
        </p>
        <ul class="fr-footer__content-list">
          <li class="fr-footer__content-item">
            <a
              target="_blank"
              rel="noopener external"
              title="info.gouv.fr - nouvelle fenêtre"
              class="fr-footer__content-link"
              href="https://info.gouv.fr"
            >
              Gouvernement
            </a>
          </li>
          <li class="fr-footer__content-item">
            <a
              target="_blank"
              rel="noopener external"
              title="data.gouv.fr - nouvelle fenêtre"
              class="fr-footer__content-link"
              href="https://data.gouv.fr"
            >
              OpenData
            </a>
          </li>
          <li class="fr-footer__content-item">
            <a
              target="_blank"
              rel="noopener external"
              title="numerique.gouv.fr - nouvelle fenêtre"
              class="fr-footer__content-link"
              href="https://www.numerique.gouv.fr/"
            >
              DINUM
            </a>
          </li>
          <li class="fr-footer__content-item">
            <a
              target="_blank"
              rel="noopener external"
              title="data.gouv.fr - nouvelle fenêtre"
              class="fr-footer__content-link"
              href="https://matrix.org/"
            >
              Propulsé par Matrix
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="fr-footer__bottom">
      <ul class="fr-footer__bottom-list">
        <li class="fr-footer__bottom-item">
          <a
            class="fr-footer__bottom-link"
            href="https://tchap.numerique.gouv.fr/cgu/"
            >Modalités d’utilisation</a
          >
        </li>
        <li class="fr-footer__bottom-item">
          <a
            class="fr-footer__bottom-link"
            href="https://tchap.numerique.gouv.fr/politique-de-confidentialite"
          >
            Politique de confidentialité
          </a>
        </li>
        <li class="fr-footer__bottom-item">
          <a
            class="fr-footer__bottom-link"
            href="https://aide.tchap.numerique.gouv.fr"
          >
            Aide - FAQ
          </a>
        </li>
        <li class="fr-footer__bottom-item">
          <a
            class="fr-footer__bottom-link"
            href="https://lasuite.numerique.gouv.fr/"
          >
            La Suite Numérique
          </a>
        </li>
      </ul>
      <!-- 
      <div class="fr-footer__bottom-copy">
        <p>
        </p>
      </div>
      -->
    </div>
  </div>
</footer>
