<!-- add lasuite class to upper element because dsfr is applyied only to .lasuite childs -->
<header role="banner" class="lasuite fr-header lasuite-header">
  <div class="fr-header__body">
    <div class="fr-container lasuite-container">
      <div class="fr-header__body-row">
        <div class="fr-header__brand fr-enlarge-link">
          <div class="fr-header__brand-top">
            <div class="fr-header__logo">
              <p class="fr-logo">République<br />Française</p>
            </div>
          </div>
          <div class="fr-header__service">
            <a
              class="lasuite-header__service-link"
              href="https://www.tchap.gouv.fr"
              title="Accueil - Tchap - DINUM"
              aria-label="Accueil - Tchap - DINUM"
            >
              <img
                alt="tchap logo"
                class="lasuite-header__service-logo fr-responsive-img"
                width="32"
                height="32"
                src="https://www.tchap.gouv.fr/themes/tchap/img/logos/tchap-logo.svg"
              />
              <p class="fr-header__service-title lasuite-header__service-title">
                Tchap
              </p>
            </a>
          </div>
        </div>
        <div class="fr-header__tools">
          <div
            class="fr-header__tools-links lasuite-header__tools-links"
            data-fr-js-header-links="true"
          >
            <!-- https://integration.lasuite.numerique.gouv.fr/guides/gaufre/#sans-react -->
            <button
              type="button"
              class="lasuite-gaufre-btn lasuite-gaufre-btn--vanilla js-lasuite-gaufre-btn"
              title="Les services de La Suite numérique"
              aria-expanded="false"
              aria-controls="lasuite-gaufre-popup"
            >
              Les services de La Suite numérique
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
