{#
Copyright 2025, 2026 Element Creations Ltd.
Copyright 2024, 2025 New Vector Ltd.
Copyright 2024 The Matrix.org Foundation C.I.C.

SPDX-License-Identifier: AGPL-3.0-only OR LicenseRef-Element-Commercial
Please see LICENSE files in the repository root for full details.
-#}

{% macro form(class="") -%}
  {%- if captcha_config|default(False) -%}
    <noscript>
      <div class="captcha-noscript">
        {{ _("mas.captcha.noscript") }}
      </div>
    </noscript>

    {{ include_asset('src/entrypoints/captcha.tsx') }}
    <div class="{{ class }}" data-captcha-service="{{ captcha_config.service }}" data-captcha-site-key="{{ captcha_config.site_key }}"></div>
  {%- endif -%}
{% endmacro %}
