{% import "components/icon.html" as icon %}
{% import "components/field.html" as field %}

{% macro password_field(input_attributes, input_autocomplete="password", class="") %}
<!-- use @vector-im/compound-web/src/components/Form/Controls/Action/Action.module.css -->
<div class="password-field-container container">
  <input {{ input_attributes }} class="cpd-text-control control" type="password" autocomplete="{{input_autocomplete}}" required />
  <button type="button" class="action" onclick="togglePasswordVisibility(this)">
    {{ icon.visibility_off() }}
  </button>
</div>



<script>
function togglePasswordVisibility(button) {
  const input = button.previousElementSibling;
  if (input.type === "password") {
    input.type = "text";
    button.innerHTML = `{{ icon.visibility_on() }}`;
    //todo translate this
    button.setAttribute('aria-label', 'Hide');
  } else {
    input.type = "password";
    button.innerHTML = `{{ icon.visibility_off() }}`;
    //todo translate this
    button.setAttribute('aria-label', 'Show');
  }
}
</script>

{% endmacro %}
