# Copyright 2025, 2026 Element Creations Ltd.
# Copyright 2025 New Vector Ltd.
#
# SPDX-License-Identifier: AGPL-3.0-only OR LicenseRef-Element-Commercial
# Please see LICENSE files in the repository root for full details.

name: Build

on:
  push:
    branches:
      - main
      - "release/**"
    tags:
      - "v*"

  # Run when there is a label change on the pull request
  # This runs only if the 'Z-Build-Workflow' is added to the pull request
  pull_request:
    types: [labeled]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  CARGO_TERM_COLOR: always
  CARGO_NET_GIT_FETCH_WITH_CLI: "true"
  SCCACHE_GHA_ENABLED: "true"
  RUSTC_WRAPPER: "sccache"
  IMAGE: ghcr.io/element-hq/matrix-authentication-service
  BUILDCACHE: ghcr.io/element-hq/matrix-authentication-service/buildcache
  DOCKER_METADATA_ANNOTATIONS_LEVELS: manifest,index

jobs:
  compute-version:
    name: Compute version using git describe
    if: github.event_name == 'push' || github.event.label.name == 'Z-Build-Workflow'
    runs-on: ubuntu-24.04

    permissions:
      contents: read

    outputs:
      describe: ${{ steps.git.outputs.describe }}
      timestamp: ${{ steps.git.outputs.timestamp }}

    steps:
      - name: Checkout the code
        uses: actions/checkout@v6
        with:
          # Need a full clone so that `git describe` reports the right version
          fetch-depth: 0

      - name: Compute version and timestamp out of git history
        id: git
        run: |
          echo "describe=$(git describe --tags --match 'v*.*.*' --always)" >> $GITHUB_OUTPUT
          echo "timestamp=$(git log -1 --format=%ct)" >> $GITHUB_OUTPUT

  build-assets:
    name: Build assets
    if: github.event_name == 'push' || github.event.label.name == 'Z-Build-Workflow'
    runs-on: ubuntu-24.04

    permissions:
      contents: read

    steps:
      - name: Checkout the code
        uses: actions/checkout@v6

      - uses: ./.github/actions/build-frontend
      - uses: ./.github/actions/build-policies

      - name: Prepare assets artifact
        run: |
          mkdir -p assets-dist/share
          cp policies/policy.wasm assets-dist/share/policy.wasm
          cp frontend/dist/manifest.json assets-dist/share/manifest.json
          cp -r frontend/dist/ assets-dist/share/assets
          cp -r templates/ assets-dist/share/templates
          cp -r translations/ assets-dist/share/translations
          cp LICENSE assets-dist/LICENSE
          chmod -R u=rwX,go=rX assets-dist/

      - name: Upload assets
        uses: actions/upload-artifact@v6.0.0
        with:
          name: assets
          path: assets-dist

  build-binaries:
    name: Build binaries
    if: github.event_name == 'push' || github.event.label.name == 'Z-Build-Workflow'
    runs-on: ubuntu-24.04

    needs:
      - compute-version

    strategy:
      matrix:
        include:
          - target: x86_64-unknown-linux-gnu
          - target: aarch64-unknown-linux-gnu

    env:
      VERGEN_GIT_DESCRIBE: ${{ needs.compute-version.outputs.describe }}
      SOURCE_DATE_EPOCH: ${{ needs.compute-version.outputs.timestamp }}

    permissions:
      contents: read

    steps:
      - name: Checkout the code
        uses: actions/checkout@v6

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: |
            ${{ matrix.target }}

      - name: Setup sccache
        uses: mozilla-actions/sccache-action@v0.0.9

      - name: Install zig
        uses: goto-bus-stop/setup-zig@v2
        with:
          version: 0.13.0

      - name: Install cargo-zigbuild
        uses: taiki-e/install-action@v2
        with:
          tool: cargo-zigbuild

      - name: Build the binary
        run: |
          cargo zigbuild \
            --release \
            --target ${{ matrix.target }}.2.17 \
            --no-default-features \
            --features dist \
            -p mas-cli

      - name: Upload binary artifact
        uses: actions/upload-artifact@v6.0.0
        with:
          name: binary-${{ matrix.target }}
          path: target/${{ matrix.target }}/release/mas-cli

  assemble-archives:
    name: Assemble release archives
    if: github.event_name == 'push' || github.event.label.name == 'Z-Build-Workflow'
    runs-on: ubuntu-24.04

    needs:
      - build-assets
      - build-binaries

    permissions:
      contents: read

    steps:
      - name: Download assets
        uses: actions/download-artifact@v7
        with:
          name: assets
          path: assets-dist

      - name: Download binary x86_64
        uses: actions/download-artifact@v7
        with:
          name: binary-x86_64-unknown-linux-gnu
          path: binary-x86_64

      - name: Download binary aarch64
        uses: actions/download-artifact@v7
        with:
          name: binary-aarch64-unknown-linux-gnu
          path: binary-aarch64

      - name: Create final archives
        run: |
          for arch in x86_64 aarch64; do
            mkdir -p dist/${arch}/share
            cp -r assets-dist/share/* dist/${arch}/share/
            cp assets-dist/LICENSE dist/${arch}/LICENSE
            cp binary-$arch/mas-cli dist/${arch}/mas-cli
            chmod -R u=rwX,go=rX dist/${arch}/
            chmod u=rwx,go=rx dist/${arch}/mas-cli
            tar -czvf mas-cli-${arch}-linux.tar.gz --owner=0 --group=0 -C dist/${arch}/ .
          done

      - name: Upload aarch64 archive
        uses: actions/upload-artifact@v6.0.0
        with:
          name: mas-cli-aarch64-linux
          path: mas-cli-aarch64-linux.tar.gz

      - name: Upload x86_64 archive
        uses: actions/upload-artifact@v6.0.0
        with:
          name: mas-cli-x86_64-linux
          path: mas-cli-x86_64-linux.tar.gz

  build-image:
    name: Build Docker image (${{ matrix.arch }})
    if: github.event_name == 'push' || github.event.label.name == 'Z-Build-Workflow'
    runs-on: ubuntu-24.04

    permissions:
      contents: read
      packages: write

    needs:
      - compute-version

    strategy:
      fail-fast: false
      matrix:
        arch: [amd64, arm64]

    env:
      VERGEN_GIT_DESCRIBE: ${{ needs.compute-version.outputs.describe }}
      SOURCE_DATE_EPOCH: ${{ needs.compute-version.outputs.timestamp }}

    steps:
      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5.10.0
        with:
          images: "${{ env.IMAGE }}"
          bake-target: docker-metadata-action
          flavor: |
            latest=auto
          tags: |
            type=ref,event=branch
            type=ref,event=pr
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=semver,pattern={{major}}
            type=sha

      - name: Docker meta (debug variant)
        id: meta-debug
        uses: docker/metadata-action@v5.10.0
        with:
          images: "${{ env.IMAGE }}"
          bake-target: docker-metadata-action-debug
          flavor: |
            latest=auto
            suffix=-debug,onlatest=true
          tags: |
            type=ref,event=branch
            type=ref,event=pr
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=semver,pattern={{major}}
            type=sha

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3.12.0
        with:
          buildkitd-config-inline: |
            [registry."docker.io"]
              mirrors = ["mirror.gcr.io"]

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3.7.0
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push by digest
        id: bake
        uses: docker/bake-action@v6.10.0
        with:
          files: |
            ./docker-bake.hcl
            cwd://${{ steps.meta.outputs.bake-file-labels }}
            cwd://${{ steps.meta.outputs.bake-file-annotations }}
            cwd://${{ steps.meta-debug.outputs.bake-file-labels }}
            cwd://${{ steps.meta-debug.outputs.bake-file-annotations }}
          set: |
            *.platform=linux/${{ matrix.arch }}
            *.output=type=image,"name=${{ env.IMAGE }}",push-by-digest=true,name-canonical=true,push=true
            *.cache-from=type=registry,ref=${{ env.BUILDCACHE }}:buildcache-${{ matrix.arch }}
            *.cache-to=type=registry,ref=${{ env.BUILDCACHE }}:buildcache-${{ matrix.arch }},mode=max

      - name: Export digests
        run: |
          mkdir -p /tmp/digests
          echo '${{ steps.bake.outputs.metadata }}' | jq -r '.regular["containerimage.digest"]' > /tmp/digests/regular-${{ matrix.arch }}
          echo '${{ steps.bake.outputs.metadata }}' | jq -r '.debug["containerimage.digest"]' > /tmp/digests/debug-${{ matrix.arch }}

      - name: Upload digests
        uses: actions/upload-artifact@v6.0.0
        with:
          name: digests-${{ matrix.arch }}
          path: /tmp/digests/*
          retention-days: 1

  finalize-image:
    name: Create multi-arch manifests
    if: github.event_name == 'push' || github.event.label.name == 'Z-Build-Workflow'
    runs-on: ubuntu-24.04

    needs:
      - build-image

    outputs:
      metadata: ${{ steps.output.outputs.metadata }}

    permissions:
      contents: read
      packages: write
      id-token: write

    steps:
      - name: Download digests
        uses: actions/download-artifact@v7
        with:
          pattern: digests-*
          path: /tmp/digests
          merge-multiple: true

      - name: Docker meta (for tags)
        id: meta
        uses: docker/metadata-action@v5.10.0
        with:
          images: "${{ env.IMAGE }}"
          flavor: |
            latest=auto
          tags: |
            type=ref,event=branch
            type=ref,event=pr
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=semver,pattern={{major}}
            type=sha

      - name: Docker meta debug (for tags)
        id: meta-debug
        uses: docker/metadata-action@v5.10.0
        with:
          images: "${{ env.IMAGE }}"
          flavor: |
            latest=auto
            suffix=-debug,onlatest=true
          tags: |
            type=ref,event=branch
            type=ref,event=pr
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=semver,pattern={{major}}
            type=sha

      - name: Setup Cosign
        uses: sigstore/cosign-installer@v4.0.0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3.12.0

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3.7.0
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Create regular manifest
        env:
          ANNOTATIONS: ${{ steps.meta.outputs.annotations }}
        run: |
          REGULAR_AMD64=$(cat /tmp/digests/regular-amd64)
          REGULAR_ARM64=$(cat /tmp/digests/regular-arm64)
          # Filter index annotations with non-empty values
          INDEX_ANNOTATIONS=$(echo "$ANNOTATIONS" | grep '^index:' | grep -v '=$' | sed 's/^index:/--annotation /' | tr '\n' ' ')
          docker buildx imagetools create \
            $(jq -cr '.tags | map("-t " + .) | join(" ")' <<< '${{ steps.meta.outputs.json }}') \
            $INDEX_ANNOTATIONS \
            "${{ env.IMAGE }}@${REGULAR_AMD64}" \
            "${{ env.IMAGE }}@${REGULAR_ARM64}"

      - name: Create debug manifest
        env:
          ANNOTATIONS: ${{ steps.meta-debug.outputs.annotations }}
        run: |
          DEBUG_AMD64=$(cat /tmp/digests/debug-amd64)
          DEBUG_ARM64=$(cat /tmp/digests/debug-arm64)
          # Filter index annotations with non-empty values
          INDEX_ANNOTATIONS=$(echo "$ANNOTATIONS" | grep '^index:' | grep -v '=$' | sed 's/^index:/--annotation /' | tr '\n' ' ')
          docker buildx imagetools create \
            $(jq -cr '.tags | map("-t " + .) | join(" ")' <<< '${{ steps.meta-debug.outputs.json }}') \
            $INDEX_ANNOTATIONS \
            "${{ env.IMAGE }}@${DEBUG_AMD64}" \
            "${{ env.IMAGE }}@${DEBUG_ARM64}"

      - name: Get manifest digests
        id: manifests
        run: |
          # Get the first tag to inspect the manifest digest
          REGULAR_TAG=$(jq -r '.tags[0]' <<< '${{ steps.meta.outputs.json }}')
          DEBUG_TAG=$(jq -r '.tags[0]' <<< '${{ steps.meta-debug.outputs.json }}')
          REGULAR_DIGEST=$(docker buildx imagetools inspect "${REGULAR_TAG}" --format '{{ json . }}' | jq -r '.manifest.digest')
          DEBUG_DIGEST=$(docker buildx imagetools inspect "${DEBUG_TAG}" --format '{{ json . }}' | jq -r '.manifest.digest')
          echo "regular=${REGULAR_DIGEST}" >> $GITHUB_OUTPUT
          echo "debug=${DEBUG_DIGEST}" >> $GITHUB_OUTPUT

      - name: Sign the images with GitHub Actions provided token
        # Only sign on tags and on commits on main branch
        if: |
          github.event_name != 'pull_request'
          && (startsWith(github.ref, 'refs/tags/v') || github.ref == 'refs/heads/main')

        env:
          REGULAR_DIGEST: ${{ steps.manifests.outputs.regular }}
          DEBUG_DIGEST: ${{ steps.manifests.outputs.debug }}

        run: |-
          cosign sign --yes \
            "$IMAGE@$REGULAR_DIGEST" \
            "$IMAGE@$DEBUG_DIGEST"

      - name: Output metadata
        id: output
        env:
          REGULAR_DIGEST: ${{ steps.manifests.outputs.regular }}
          DEBUG_DIGEST: ${{ steps.manifests.outputs.debug }}
          META_JSON: ${{ steps.meta.outputs.json }}
          META_DEBUG_JSON: ${{ steps.meta-debug.outputs.json }}
        run: |
          echo 'metadata<<EOF' >> $GITHUB_OUTPUT
          jq -nc \
            --arg regular_digest "$REGULAR_DIGEST" \
            --arg debug_digest "$DEBUG_DIGEST" \
            --argjson regular_tags "$(jq '.tags' <<< "$META_JSON")" \
            --argjson debug_tags "$(jq '.tags' <<< "$META_DEBUG_JSON")" \
            '{regular: {digest: $regular_digest, tags: $regular_tags}, debug: {digest: $debug_digest, tags: $debug_tags}}' >> $GITHUB_OUTPUT
          echo 'EOF' >> $GITHUB_OUTPUT

  release:
    name: Release
    if: startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-24.04
    needs:
      - assemble-archives
      - finalize-image
    steps:
      - name: Download the artifacts from the previous job
        uses: actions/download-artifact@v7
        with:
          pattern: mas-cli-*
          path: artifacts
          merge-multiple: true

      - name: Prepare a release
        uses: softprops/action-gh-release@v2.5.0
        with:
          generate_release_notes: true
          body: |
            ### Docker image

            Regular image:

              - Digest:
                ```
                ${{ env.IMAGE }}@${{ fromJSON(needs.finalize-image.outputs.metadata).regular.digest }}
                ```
              - Tags:
                ```
                ${{ join(fromJSON(needs.finalize-image.outputs.metadata).regular.tags, '
                ') }}
                ```

            Debug variant:

              - Digest:
                ```
                ${{ env.IMAGE }}@${{ fromJSON(needs.finalize-image.outputs.metadata).debug.digest }}
                ```
              - Tags:
                ```
                ${{ join(fromJSON(needs.finalize-image.outputs.metadata).debug.tags, '
                ') }}
                ```

          files: |
            artifacts/mas-cli-aarch64-linux.tar.gz
            artifacts/mas-cli-x86_64-linux.tar.gz
          draft: true

  unstable:
    name: Update the unstable release
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-24.04

    needs:
      - assemble-archives
      - finalize-image

    permissions:
      contents: write

    steps:
      - name: Checkout the code
        uses: actions/checkout@v6
        with:
          sparse-checkout: |
            .github/scripts

      - name: Download the artifacts from the previous job
        uses: actions/download-artifact@v7
        with:
          pattern: mas-cli-*
          path: artifacts
          merge-multiple: true

      - name: Update unstable git tag
        uses: actions/github-script@v8.0.0
        with:
          script: |
            const script = require('./.github/scripts/update-unstable-tag.cjs');
            await script({ core, github, context });

      - name: Update unstable release
        uses: softprops/action-gh-release@v2.5.0
        with:
          name: "Unstable build"
          tag_name: unstable
          body: |
            This is an automatically updated unstable release containing the latest builds from the main branch.

            **⚠️ Warning: These are development builds and may be unstable.**

            Last updated: ${{ github.event.head_commit.timestamp }}
            Commit: ${{ github.sha }}

            ### Docker image

            Regular image:

              - Digest:
                ```
                ${{ env.IMAGE }}@${{ fromJSON(needs.finalize-image.outputs.metadata).regular.digest }}
                ```
              - Tags:
                ```
                ${{ join(fromJSON(needs.finalize-image.outputs.metadata).regular.tags, '
                ') }}
                ```

            Debug variant:

              - Digest:
                ```
                ${{ env.IMAGE }}@${{ fromJSON(needs.finalize-image.outputs.metadata).debug.digest }}
                ```
              - Tags:
                ```
                ${{ join(fromJSON(needs.finalize-image.outputs.metadata).debug.tags, '
                ') }}
                ```

          files: |
            artifacts/mas-cli-aarch64-linux.tar.gz
            artifacts/mas-cli-x86_64-linux.tar.gz
          prerelease: true
          make_latest: false

  pr-cleanup:
    name: "Remove workflow build PR label and comment on it"
    runs-on: ubuntu-24.04
    if: github.event_name == 'pull_request' && github.event.label.name == 'Z-Build-Workflow'

    needs:
      - finalize-image

    permissions:
      contents: read
      pull-requests: write

    steps:
      - name: Checkout the code
        uses: actions/checkout@v6
        with:
          sparse-checkout: |
            .github/scripts

      - name: Remove label and comment
        uses: actions/github-script@v8.0.0
        env:
          BUILD_IMAGE_MANIFEST: ${{ needs.finalize-image.outputs.metadata }}
        with:
          script: |
            const script = require('./.github/scripts/cleanup-pr.cjs');
            await script({ core, github, context });
