# Copyright 2025 New Vector Ltd.
#
# SPDX-License-Identifier: AGPL-3.0-only OR LicenseRef-Element-Commercial
# Please see LICENSE files in the repository root for full details.

name: Upload translation files to Localazy
on:
  push:
    branches:
      - main
      - release/v**

jobs:
  upload:
    runs-on: ubuntu-24.04
    permissions:
      contents: read

    steps:
      - name: Checkout the code
        uses: actions/checkout@v5

      - name: Install Node
        uses: actions/setup-node@v4.4.0
        with:
          node-version: 22

      - name: Install Localazy CLI
        run: npm install -g @localazy/cli

      - name: Compute the Localazy branch name
        id: branch
        run: |
          # This will strip the "release/" prefix if present, keeping 'main' as-is
          echo "name=${GITHUB_REF_NAME#release/}" >> "$GITHUB_OUTPUT"

      - name: Upload translations to Localazy
        run: localazy upload -w "$LOCALAZY_WRITE_KEY" -b "$BRANCH"
        env:
          LOCALAZY_WRITE_KEY: ${{ secrets.LOCALAZY_WRITE_KEY }}
          BRANCH: ${{ steps.branch.outputs.name }}
