name: Download translation files from Localazy
on:
  workflow_dispatch:
    secrets:
      BOT_GITHUB_TOKEN:
        required: true

jobs:
  download:
    runs-on: ubuntu-22.04
    permissions:
      contents: write

    steps:
      - name: Checkout the code
        uses: actions/checkout@v4.2.2

      - name: Download translation files
        uses: localazy/download@v1.1.0

      - name: "Fix the owner of the downloaded files"
        run: "sudo chown runner:docker translations/*.json frontend/locales/*.json"

      - name: Create Pull Request
        id: cpr
        uses: peter-evans/create-pull-request@v7.0.5
        with:
          sign-commits: true
          token: ${{ secrets.BOT_GITHUB_TOKEN }}
          branch-token: ${{ secrets.GH_TOKEN }}
          branch: actions/localazy-download
          delete-branch: true
          title: Translations updates
          labels: |
            T-Task
            A-I18n
          commit-message: Translations updates

      - name: Enable automerge
        run: gh pr merge --merge --auto "$PR_NUMBER"
        if: steps.cpr.outputs.pull-request-operation == 'created'
        env:
          GH_TOKEN: ${{ secrets.BOT_GITHUB_TOKEN }}
          PR_NUMBER: ${{ steps.cpr.outputs.pull-request-number }}
